<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>New User</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<form method = 'post' th:action="@{/user}">
    <div class="form-group">
        <label>Enter a username
            <input type="text" name="username" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Enter your email
            <input type="email" name="email" class="form-control">
        </label>
    </div>
    <div th:text="${error}"></div>
    <div class="form-group">
        <label>Enter a password
            <input type="password" name="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Re-enter your password
            <input type="password" name="verify" class="form-control">
        </label>
    </div>
    <input type = 'submit' value = 'Submit'>
</form>

</body>
</html>