<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<form method = "post" action="/menu">
    <div class="form-group">
        <label>Name
            <input type="text" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Skin Type<br>
            <select name="skintype" class="form-control">
                <option value="oily">Oily</option>
                <option value="combination">Combination</option>
                <option value="normal">Normal</option>
                <option value="dry">Dry</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Manicure or Pedicure?<br>
            <select name = "manipedi" class="form-control">
                <option value = "manicure">Manicure</option>
                <option value = "pedicure">Pedicure</option>
                <option value = "both">Mani and Pedi</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type = "submit" value = "Submit" class="btn btn-success">
    </div>
</form>
</body>
</html>